---
layout: default
title: "404: Page not found"
permalink: 404.html
sequence: -9
---

<div class="page">
  <h1 class="page-title">404: Page not found</h1>
  <p class="lead">Tut mir leid, diese Seite gibt es nicht (mehr?). <a href="{{ site.baseurl }}/">Zurück zur Hauptseite.</a> (Nutzen Sie das aufklappbare Menü links oben für eine Übersicht.)</p>
</div>
