.logo { float:left; margin-right:20px; margin-bottom:10px; }

.nav-row { text-align:center; }
.nav-previtem { display:inline-block; float:left; }
.nav-nextitem { display:inline-block; float:right; }

.copyright { display:inline-block; float:center; margin-top:40px; }

.authorinfo { text-align:center; font-weight:bold;}

.pagedate {  font-size: 66%; color: #c0c0c0; }

img { border: 0; }

a { color: #8bd226; }
a[href*="//"] { color: #268bd2; }
a[href*="//"]:not(.nooutlink):before { content: "\2191"; }
a[href*="informationelle-selbstbestimmung-im-internet.de"]:not(.nooutlink):before { content: none; }
