<!-- Copyright (C) 2017-2019 Jens Lechtenbörger -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<div class="container nav-row">
    {% assign prev = page.sequence | minus: 1 %}
    {% assign next = page.sequence | plus: 1 %}
    {% assign pages = site.html_pages | sort: 'sequence' %}
    {% for p in pages %}
	{% if p.sequence == prev %}
	    <div class="nav-previtem">
		<a rel="prev" href="{{ site.baseurl }}{{ p.url }}"><img width="64" height="64" alt="Zur&uuml;ck" src="{{ site.baseurl }}/public/icons/prev.png"></a>
	    </div>
	{% endif %}
	{% if p.sequence == page.sequence %}
	    <div class="copyright">
		<img width="424" height="24" alt="Copyright 2006-2019 Jens Lechtenb&ouml;rger (Bild mit steganographisch versteckter E-Mail-Adresse)" src="{{ site.baseurl }}/public/images/copyright-diit-2019.png">
	    </div>
	{% endif %}
	{% if p.sequence == next %}
	    <div class="nav-nextitem">
		<a rel="next" href="{{ site.baseurl }}{{ p.url }}"><img width="64" height="64" alt="Weiter" src="{{ site.baseurl }}/public/icons/next.png"></a>
	    </div>
	{% endif %}
    {% endfor %}
</div>
