<!-- Derived in 2017 by Jens Lechtenbörger from: https://github.com/poole/lanyon/blob/master/_includes/head.html
     Copyright (c) 2014 Mark Otto, under MIT License: https://github.com/poole/lanyon/blob/master/LICENSE.md -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Jens Lechtenboerger">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="date" content="{{ page.Time-stamp }}">

  <title>
      {{ page.title }} &middot; {{ site.title }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/extras.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="icon" href="{{ site.baseurl }}/public/favicon.ico" type="image/x-icon">

  <!-- RSS -->
  <!-- Maybe later <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->
</head>
