<!-- Derived in 2017 by Jens Lechtenbörger from: https://github.com/poole/lanyon/blob/master/_includes/sidebar.html
     Copyright (c) 2014 Mark Otto, under MIT License: https://github.com/poole/lanyon/blob/master/LICENSE.md -->

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    {% assign pages_list = site.pages | sort:"sequence" %}
    {% for node in pages_list %}
      {% if node.toctitle != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.toctitle }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
</div>
