<!DOCTYPE html>
<!-- Derived in 2017 by Jens Lechtenbörger from: https://github.com/poole/lanyon/blob/master/_layouts/default.html
     Copyright (c) 2014 Mark Otto, under MIT License: https://github.com/poole/lanyon/blob/master/LICENSE.md -->
{% strip %}
{% if page.lang != null %}<html lang="{{ page.lang }}">
{% else %}<html lang="de">
{% endif %}
{% include head.html %}
<body>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
	<div class="masthead">
            <div class="container">
		<h3 class="masthead-title">
		    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
		</h3>
            </div>
	</div>

	<div class="container content">
            {{ content }}
	</div>
	{% include footer.html %}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

</body>
</html>
{% endstrip %}
