---
layout: default
---

<!-- Derived in 2017 by Jens Lechtenbörger from: https://github.com/poole/lanyon/blob/master/_layouts/page.html
     Copyright (c) 2014 Mark Otto, under MIT License: https://github.com/poole/lanyon/blob/master/LICENSE.md -->
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.sequence == 0 %}
      <div class="authorinfo">
	  <p>{{ site.author }}<br />
	      Zuletzt inhaltlich aktualisiert am {{ site.datum }}
      </div>
  {% endif %}
  {{ content }}
  {% if page.sequence == 0 %}
      <h2>Inhalt der folgenden Abschnitte:</h2>
      <ul>
      {% assign pages_list = site.pages | sort:"sequence" %}
      {% for node in pages_list %}
	  {% if node.toctitle != null and node.sequence != 0 %}
              {% if node.layout == "page" %}
		  <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.toctitle }}</a></li>
              {% endif %}
	  {% endif %}
      {% endfor %}
      </ul>
  {% endif %}
  <div class="pagedate">
      Letzte Änderung dieses Abschnitts: {{ page.Time-stamp }}
  </div>
</div>
